/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "bootstrap";
@import "jquery.fancybox-1.3.4";
@import "compass/utilities/sprites";
$icon-sprite: sprite-map("icons/*.png", $spacing: 20px);

/* `Base
-----------------------------------------------------------------------------*/

body {
    background:#f5f5f5 image-url("bg.png") left top repeat;
    margin: 0;
    font:15px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000;
}

a {
    color:#d15700;
    text-decoration:none;
}
a:visited {
    color:#d15700;
    text-decoration:none;
}
a:hover, a:active{color:#6e9c1f;}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.menu, .menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {float: left;}
}

p {
    margin: 0 0 26px;
    font-size:15px;
    line-height:26px;
}

h2.title {
    margin-bottom:22px;
    font-size:22px;
    font-family: 'Bree Serif', serif;
    font-weight:400;
    line-height:30px;
}

h3 {
    font-family: 'Bree Serif', serif;
    font-weight:400;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 { @include transition(all .3s ease-in-out); }

/* `Header
-----------------------------------------------------------------------------*/

.container {
    background:image-url("bg-grid-60.png") left top repeat;
    border-right:1px solid #e6e6e6;
    padding:26px 0 0 0;
}

.navbar {
    @extend .clearfix;
    border-bottom:1px solid #555;
    padding-bottom:26px;
    margin-bottom:26px;
    font-family: 'Bree Serif', serif;
    .nav-collapse {
        float:right;
        .nav {
            @extend .menu;
            @extend .clearfix;
            li { margin-left:20px; }
            a {
                @include transition(all .15s ease-in-out);
                display:block;
                background:#fff;
                background:rgba(#fff, 0.6);
                padding:0 0 0 0;
                width:139px;
                height:25px;
                color:#555;
                line-height:23px;
                text-align:center;
                text-shadow: 0 0 0 rgba(0, 0, 0, 0);
                &:hover {
                    background:#fff;
                    color:#000;
                }
            }
            span {
                display:inline-block;
                padding-left:22px;
                height:25px;
            }
            .documentation span {
                background:sprite($icon-sprite, doc, 0, 3px) no-repeat;
            }
            .issues span {
                background:sprite($icon-sprite, issues, 0, 3px) no-repeat;
            }
        }
    }
}

.jumbotron {
    margin-bottom:52px;
    text-align:center;
    .logo {
        display:inline-block;
        background:image-url("logo.png") left top no-repeat;
        margin-bottom:26px;
        padding-left:148px;
        height:130px;
    }
    h1 {
        display:inline;
        font-family: 'Exo',sans-serif;
        font-size:120px;
        font-weight:900;
        color:#d15700;
        line-height:1;
        margin:0;
        small {
            font-size:24px;
            font-weight:900;
            color:#616161;
        }
    }
    .slogan {
        margin:-12px 0 0 0;
        font-size:16px;
        font-weight:600;
        color:#616161;
        text-align:left;
    }
}

.quick-links {
    list-style:none outside none;
    margin:0;
    overflow:hidden;
    padding:3px 20px 0 20px;
    line-height:23px;
    height:23px;
    text-align:center;
    li { display:inline; }
}

/* `Section
-----------------------------------------------------------------------------*/

section {
    margin-bottom:26px;
    padding-top:26px;
    h1 {
        margin-bottom:26px;
        height:52px;
        font-size:36px;
        font-family:'Vollkorn', serif;
        font-weight:400;
        text-align:center;
    }
    &.marketing {
        border-bottom:1px solid #c6c6c6;
        .row { margin-bottom:26px; }
    }
}

.marketing {
    .sass, .coffeescript, .refresh, .cross-platform {
        position:relative;
        &:after {
            content:"";
            position:absolute;
        }
        &:hover:after { @include rotate(2deg); }
    }
    .coffeescript, .cross-platform {
        &:hover:after { @include rotate(-2deg); }
    }
    .sass:after {
        background:image-url("compass.png") 0 0 no-repeat;
        width:99px;
        height:91px;
        left:-60px;
        top:-95px;
    }
    .coffeescript:after {
        background:image-url("coffeescript.png") 0 0 no-repeat;
        width:132px;
        height:84px;
        right:-50px;
        top:-40px;
    }
    .refresh:after {
        background:image-url("refresh.png") 0 0 no-repeat;
        width:113px;
        height:72px;
        left:-130px;
        top:-15px;
    }
    .cross-platform:after {
        background:image-url("os.png") 0 0 no-repeat;
        width:165px;
        height:96px;
        right:-110px;
        top:-35px;
    }
}

.screenshots {
    @extend .menu;
    @extend .clearfix;
    margin-bottom:0;
    li {
        margin:0 20px 27px 1px;
        line-height:1.8;
        text-align:center;
        &:nth-child(6n) { margin-right:0; }
    }
    a {
        @include border-radius(3px);
        @include transition(all .15s ease-in-out);
        display:block;
        background:#fff;
        background:rgba(#fff,0.5);
        padding:3px;
        width:133px;
        height:123px;
        color:#000;
        &:hover { background:rgba(#fff,1); }
    }
    img {
        display:block;
        width:133px;
        height:99px;
    }
}

/*
.carousel {
    .carousel-inner {
        background:#fff;
        margin-left:161px;
        width:619px;
        height:389px;
    }
}

a.carousel-control {
    @include border-radius(5px);
    @include transition(all .2s ease-in-out);
    top:156px;
    left:0;
    width:59px;
    height:51px;
    margin-top:0;
    line-height:42px;
    color:#ffffff;
    background:#222;
    border:0;
    opacity:0.6;
    filter:alpha(opacity=50);
    &.right { right:0; }
}
*/

/* `Footer
-----------------------------------------------------------------------------*/

footer {
    border-top:1px solid #555;
    margin-top:78px;
    padding-top:26px;
    P {
        font-family:'Vollkorn', serif;
        font-size:13px;
        color:#555;
    }
    .btn {
        font-family: 'Bree Serif', serif;
        padding:0;
        width:219px;
        height:51px;
        line-height:51px;
        text-align:center;
        color:#000;
        i { margin-right:5px; }
    }
}

/* `Media
-----------------------------------------------------------------------------*/

@media (max-width: 979px) {
    body { overflow-x:auto; }
    .nav-collapse .nav > li > a { margin-bottom:0; }
    .navbar {
        padding:0 0 26px 0;
        .btn-navbar {
            margin:00;
            padding:5px 10px 6px;
        }
        .nav-collapse {
            float:none;
            .nav {
                padding:1px 0 0 1px;
                li {
                    float:none;
                    margin:0;
                }
                a {
                    @include border-radius(0);
                    padding:0 5px;
                    width:auto;
                    height:25px;
                    line-height:23px;
                    text-align:left;
                }
                .documentation {
                    background:transparent;
                    margin-bottom:1px;
                    &:hover { background:#fff; }
                }
                .issues {
                    background:transparent;
                    &:hover { background:#fff; }
                }
            }
        }
    }
    .container {
        background:image-url("bg-grid-42.png") left top repeat;
    }
    .marketing {
        .sass, .coffeescript, .refresh, .cross-platform {
                &:after {
                    display:none;
            }
        }
    }
    .screenshots {
        a {
            width:97px;
            height:97px;
            font-size:12px;
            line-height:1.8;
        }
        img {
            margin-bottom:2px;
            width:97px;
            height:auto;
        }
    }
    footer {
        margin-top:77px;
        .btn { width:165px; }
    }
}

@media (max-width: 767px) {
    .container {
        background:transparent;
        border-right:0;
        padding:26px 0 0;
        width:480px;
    }
    .jumbotron, .buy { margin-bottom:26px; }
    .quick-links { height:49px;  }
    section.marketing .row { margin-bottom:0; }
    .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 { margin-bottom:26px; }
    .screenshots {
        li {
            margin-right:30px;
            &:nth-child(3n) { margin-right:0; };
        }
        a {
            width:133px;
            height:123px;
            font-size:15px;
        }
        img {
            width:133px;
            height:99px;
        }
    }
    footer {
        margin-top:-1px;
        .row {
            .span3, span9 { margin-bottom:26px; }
        }
    }
}

@media (max-width: 480px) {
    .container {
        padding:13px 0 0;
        width:auto;
    }
    .navbar {
        padding-bottom:13px;
        .nav-collapse .nav { padding:14px 0 13px; }
    }
    .jumbotron {
        .logo {
            background-size:30%;
            padding-left:95px;
            height:104px;
        }
        h1 {
            font-size:75px;
            small { font-size:20px; }
            a {
                background-size:100%;
                height:56px;
                width:280px;
            }
        }
        .slogan {
            margin:-12px 0 0 0;
            font-size:12px;
        }
    }
    .buy .button{
        padding:0 20px 0 30px;
    }
    .screenshots {
        li {
            margin-right:4%;
            width:30%;
        }
        a {
            width:100%;
            height:123px;
            font-size:12px;
        }
        img {
            width:100%;
            height:auto;
        }
    }
}

@media (max-width: 320px) {
    .jumbotron {
        .slogan {
            font-size:10px;
        }
    }
    .screenshots {
        li {
            margin:0 25px 26px 1px;
            width:auto;
            &:nth-child(3n) { margin-right:25px; }
            &:nth-child(2n), &:nth-child(6n) { margin-right:0; }
            &:nth-child(5n), &:nth-child(6n) { margin-bottom:0; }
            &:nth-child(1n), &:nth-child(2n), &:nth-child(3n), &:nth-child(4n) { margin-bottom:27px; }
        }
        a {
            width:112px;
            height:123px;
            font-size:13px;
        }
        img {
            margin-bottom:10px;
            width:100%;
            height:auto;
        }
    }
}
