@charset 'UTF-8';
@import "normalize";
@import "compass";

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.11.eot');
    src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

$radius: 4px;
$base-font-size: 15px;
$base-line-height: 26px;
@include establish-baseline();

body {
    background: #f5f5f5 url("../images/bg.png");
    position: relative;
    font: 15px/26px "Helvetica Neue", Helvetica , Arial, sans-serif;
}

body > .nav {
    display: block;
    width: 250px;
    background: #fbfbfb;
    background: rgba(255,255,255,0.6);
    padding: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    border: #e5e5e5 1px solid;
}

body > .main-wrapper {
    display: block;
    margin-left: 330px;
    padding-bottom: 52px;
    .main {
        max-width: 50em;
        width: 80%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
    }
}


h1 {
  @include adjust-font-size-to(30px);
  @include rhythm(1,0,0,1,30px);
}

h2 {
  @include adjust-font-size-to(22px);
  @include rhythm(1,0,0,1,22px);
}

h3 {
  @include adjust-font-size-to(18px);
  @include rhythm(1,0,0,1,18px);
}

h4 {
  @include adjust-font-size-to(15px);
  @include rhythm(1,0,0,1,15px);
}

a {
    color: #d15700;
    text-decoration: none;
    &:hover {
        color: #6e9c1f;
    }
}

p {
  margin: 26px 0;
}

i {
    font-style: normal;
}

img {
    max-width: 100%;
    margin: 13px 0;
}

code {
  background: #fafafa;
  color: #333;
  display: inline-block;
  padding: 0 5px;
  border-radius: $radius;
  border: #ccc 1px solid;
  line-height: 1.2em;
}

.lsf-icon.arrow:before {
  content: '\E00d';
}

.lsf-icon.down:before {
  content: '\E03e';
}

.lsf-icon.up:before {
  content: '\E135';
}

.point {
    font-weight: bold;
}

.sp-point {
    font-weight: bold;
    color: #6e9c1f;
}

div.logo {
    img {
        margin: -10px auto 0;
        display: block;
        height: 180px;
        width: 180px;
    }
    h1 {
        margin: 10px 0 18px;
        text-align: center;
        line-height: 1em;
        a {
            text-decoration: none;
        }
        a .title {
            font-family: 'Exo',sans-serif;
            color: #d15700;
            font-size: 60px;
        }
        a .small {
            color: #616161;
            font-size: 18px;
        }
        a .documents {
            display: block;
            color: #616161;
            font-size: 24px;
            font-weight: normal;
            line-height: 26px;
        }
    }
}

ul.menu {
  list-style: none;
  margin: 26px 0;
  padding: 0;
  li {
      margin: 0 0 10px;
      padding: 0;
  }
  ul {
    margin: 10px 0;
    padding-left: 30px;
  }
  ul > li {
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-left: 0;
  }
}

a.collapse-menu {
  display: none;
}

ol.qa {
  li {
    margin-bottom: 26px;
  }
  .point {
    display: block;
  }
  .lsf-icon {
    color: #D15700;
  }
}

ul.lang {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  li {
    float: left;
    padding: 4px 0;
    a {
      border-radius: 12px;
      background: #fff;
      padding: 2px 10px;
      margin-right: 10px;
      border: #ddd 1px solid;
    }
    a.active {
      background: #6e9c1f;
      color: #fff;
      border-color: #6e9c1f;
    }
  }
}

ul.nav-tabs {
  list-style: none;
  padding-left: 0;
  display: block;
  height: 39px;
  border-bottom: #ccc 1px solid;
  li {
    float: left;
    display: block;
    margin-right: 10px;
    height: 40px;
    overflow: hidden;
    a {
      display: block;
      padding: 0 15px;
      height: 42px;
      line-height: 40px;
    }
    &.active a {
      border-radius: $radius;
      border: #ccc 1px solid;
      border-bottom: none;
      background: #fbfbfb;
    }
  }
}

.switch-block .content-wrapper {
  padding: 0 15px;
}

.page-footer {
  float: right;
  margin: 30px 0;
  padding: 5px 20px;
  border: #ddd 1px solid;
  border-radius: 20px;
  display: inline-block;
  background: #fbfbfb;
  background: rgba(255,255,255,0.6);
}

@import "prettify";

pre.prettyprint {
  @include adjust-font-size-to(15px,0.8);
  @include rhythm(0.5,0.5,0.5,0.5,15px);
  li {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  body > .nav {
    position: static;
    width: 92%;
    margin: 26px auto;
    padding: 5px;
    ul.menu {
      display: none;
      padding: 0 13px;
    }
    a.collapse-menu {
      display: block;
      margin: 13px;
      text-align: center;
      background-color: #2C2C2C;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
      background-image: -webkit-linear-gradient(center top, #333333, #222222);
      background-image: -moz-linear-gradient(center top, #333333, #222222);
      background-image: -o-linear-gradient(center top, #333333, #222222);
      background-image: linear-gradient(center top, #333333, #222222);
      background-repeat: repeat-x;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
      border-radius: 4px;
      padding: 4px;
      color: #fff;
      .lsf-icon {
        font-size: 0.7em;
        margin-left: 8px;
      }
    }
  }
  body > .main-wrapper {
    margin-left: 0;
    .main {
      width: 92%;
    }
  }
  div.logo {
    margin: 0 auto 10px;
    display: block;
    width: 400px;
    position: relative;
    img {
      margin: 0;
      width: 150px;
      height: 150px;
    }
    h1 {
      margin: 0;
      position: absolute;
      text-align: left;
      top: 10px;
      left: 160px;
      a .title {
          font-size: 114px;
          line-height: 1em;
      }
      a .small {
          font-size: 20px;
      }
      a .documents {
          position: absolute;
          bottom: 10px;
          left: 0px;
          font-size: 30px;
          line-height: 1em;
      }
    }
  }
  ul.lang {
    width: 175px;
    display: block;
    margin: 13px auto;
    position: relative;
    left: 10px;
  }

}

@media (max-width: 519px) {
  div.logo {
    width: 200px;
    img {
      width: 75px;
      height: 75px;
    }
    h1 {
      left: 80px;
      a .title {
          font-size: 57px;
          line-height: 1em;
      }
      a .small {
          font-size: 10px;
      }
      a .documents {
          font-size: 15px;
          line-height: 1em;
      }
    }
  }
}
