<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Handlino Inc." />
    <meta property="og:title" content="Fire.app" />
    <meta property="og:url" content="http://fireapp.handlino.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Dead Easy HTML Prototyping" />
    <meta property="og:image" content="http://fireapp.handlino.com/images/link-thumbnail.png" />
    <link rel="shortcut icon" href="favicon.ico">
    <title>Fire.app: Dead Easy HTML Prototyping</title>
    <link href="stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Anton|Bree+Serif|Vollkorn|Exo:300,600,900' rel='stylesheet' type='text/css'>
    <!-- html5shiv http://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%#= livereload_js %>
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <div class="navbar">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="http://github.com/handlino/FireApp/wiki/" class="documentation"><span>Documentation</span></a></li>
                        <li><a href="https://github.com/handlino/fireapp/issues" class="issues"><span>Issues</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                <h1>Fire<small>.app</small></h1>
                <p class="slogan">Dead Easy HTML Prototyping</p>
            </div>
            <div class="buy">
                <a href="http://transactions.digitaldeliveryapp.com/packages/393/purchase" onclick="_gaq.push(['_link', 'http://transactions.digitaldeliveryapp.com/packages/393/purchase']); return false;" class="button"><span>$14</span> Buy Now</a>
                <p class="donated">10% of sales donated to <a href="http://www.umdf.org/">UMDF</a> because we love Compass.</p>
            </div>
            <ul class="quick-links">
                <li>
                    <iframe src="http://ghbtns.com/github-btn.html?user=handlino&repo=fireapp&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fireapp.handlino.com/" data-via="handlino" data-related="handlino" data-hashtags="fireapp">Tweet</a>
                </li>
                <li>
                    <a href="https://twitter.com/handlino" class="twitter-follow-button" data-width="240px" data-link-color="#0069D6" data-show-count="true">Follow @handlino</a>
                </li>
            </ul>
        </header>
        <%= yield%>
        <footer>
            <div class="row">
                <div class="span9"><p>Fire.app is brought to you by <a href="http://handlino.com/">Handlino</a>, a web app design/development company in Taiwan. Fire.app is <strong>GPL licensed</strong> because we believe the power of open source.</p></div>
                <div class="span3"><a class="btn" href="http://fireapp.handlino.com/assets/mediakit.zip"><i class="icon-download-alt"> </i>Download Media Kit</a></div>
            </div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a[rel=group]").fancybox({
                'transitionIn'      : 'none',
                'transitionOut'     : 'none',
                'titlePosition'     : 'over',
                'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });
        });
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2945555-1']);
        _gaq.push(['_setDomainName', 'handlino.com']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_setAllowHash', false]);
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
</script>
</body>
</html>
