<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Handlino Inc." />

    <title>Fire.app: Dead Easy HTML Prototyping</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo:300,600,900">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%#= livereload_js %>
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right"> 
                            <li><a href="http://github.com/handlino/FireApp/wiki/">Documentation</a></li>
                            <li><a href="https://github.com/handlino/fireapp/issues">Issues</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%= yield %>

        <hr class="soften">
        <footer>
            <div class="row">
                <div class="span9">
                    <p>Fire.app is bought to you by <a href="http://handlino.com/">Handlino</a>, a web app design/development company in Taiwan. Fire.app is <strong>GPL licensed</strong> because we believe the power of open source.</p>
                </div>
                <div class="span3">
                    <a href="/assets/mediakit.zip" class="btn btn-small pull-right">Download Media Kit</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap-collapse.js"></script>
    <script src="/javascripts/bootstrap-carousel.js"></script>
    <script src="/javascripts/bootstrap-transition.js"></script>
    <script>
        $(function() {
            $('.carousel').carousel();
        });
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2945555-17']);
        _gaq.push(['_trackPageview']);
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
</script>
</body>
</html>
