<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Handlino Inc." />

    <title>Fire.app: HTML Prototyping Made Easy</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo:400,600,900">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="fb-root"></div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav"> 
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/docs/">Docs</a></li>
                        <li><a href="https://github.com/handlino/fireapp/issues">Issues on GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%= yield %>

        <hr class="soften">
        <footer>
            <p><a href="https://twitter.com/handlino" class="twitter-follow-button" data-width="225px" data-link-color="#0069D6" data-show-count="true">Follow @handlino</a></p>
            <p>Fire is bought to you by <a href="http://handlino.com/">Handlino Inc.</a></p>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap-transition.js"></script>
    <script src="/javascripts/bootstrap-alert.js"></script>
    <script src="/javascripts/bootstrap-modal.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
    <script src="/javascripts/bootstrap-scrollspy.js"></script>
    <script src="/javascripts/bootstrap-tab.js"></script>
    <script src="/javascripts/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap-popover.js"></script>
    <script src="/javascripts/bootstrap-button.js"></script>
    <script src="/javascripts/bootstrap-collapse.js"></script>
    <script src="/javascripts/bootstrap-carousel.js"></script>
    <script src="/javascripts/bootstrap-typeahead.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=281531855250082";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
