<header class="jumbotron">
    <div class="row">
        <div class="span7 offset3">
            <div class="logo">
                <img src="/images/logo/256.png" width="168" class="pull-left" alt="Fire.app logo">
                <h1>Fire<small>.app</small></h1>
                <p class="slogan">Dead Easy HTML Prototyping</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
            <p><a href="#" class="btn btn-large btn-buy">Coming Soon $14</a></p>
            <p class="donated">10% of sales donated to <a href="http://www.umdf.org/">UMDF</a> because we love Compass.</p>
        </div>
    </div>
    <ul class="quick-links">
        <li>
            <iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=handlino&amp;repo=fireapp&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
        </li>
        <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fireapp.handlino.com/" data-via="handlino" data-related="handlino" data-hashtags="fireapp">Tweet</a>
        </li>
        <li>
            <a href="https://twitter.com/handlino" class="twitter-follow-button" data-width="225px" data-link-color="#0069D6" data-show-count="true">Follow @handlino</a>
        </li>
    </ul>
</header>

<hr class="soften">

<div class="marketing">
    <h1>Features</h1>
    <div class="row">
        <div class="span4 feature1">
            <h2>Sass + Compass</h2>
            <p>Love Sass/Compass but hate command line interface? Fire.app has first class Sass/Compass support just like our <a href="http://compass.handlino.com/">Compass.app</a>. No more <a href="http://compass-style.org/reference/compass/css3/">vendor CSS prefixes</a> and <a href="http://compass-style.org/help/tutorials/spriting/">hand-crafting sprite images</a>!</p>
        </div>
        <div class="span4 feature2">
            <h2>Template languages</h2>
            <p>Haml/ERB/Markdown formats are supported as the content templating engine. Layouts, partials, and helpers can all be written in different format that fits the best for faster design.</p>
        </div>
        <div class="span4 feature3">
            <h2>CoffeeScript</h2>
            <p>Javascript is great, CoffeeScript is <strong>awesome</strong>. Enjoy writing CoffeeScript? Fire.app compiles it, back to back.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4 feature4">
            <h2>Auto Refresh</h2>
            <p>Changes in your project are monitored and instantly triggers browsers to refresh the page automatically. It works for Chrome/Firefox/Opera/Safari as well as mobile browsers on iOS and Android devices.</p>
        </div>
        <div class="span4 feature5">
            <h2>Build Project</h2>
            <p>Projects can be build to produce static HTML/Javascript/CSS files with single click, while you can enjoy writing dynamic ERB/CoffeeScript/Sass languages that boost your performance.</p>
        </div>
        <div class="span4 feature6">
            <h2>Cross-Platform</h2>
            <p>Fire.app works on <strong>Mac, Linux, and Windows</strong> platform. The installation process is as easy as clicking and dragging.</p>
        </div>
    </div>
</div>

