<header class="jumbotron">
    <div class="row">
        <div class="span7 offset1">
            <div class="logo">
                <img src="/images/logo/256.png" width="168" class="pull-left" alt="Fire.app logo">
                <h1>Fire</h1>
                <p class="slogan">HTML Prototyping Without Hassle</p>
            </div>
        </div>
        <div class="span4">
            <p><a href="#" class="btn btn-large btn-buy"><strong>Coming Soon</strong></a></p>
            <!--
            <p><a href="#" class="btn btn-large btn-success btn-buy"><strong>Buy Now For $15</strong></a></p>
            -->
            <p class="platforms">
                works in mac, linux and pc.<br>
                <img src="/images/icon-mac.png">
                <img src="/images/icon-linux.png">
                <img src="/images/icon-windows.png">
            </p>
        </div>
    </div>
    <ul class="quick-links">
        <li>
            <span class="label">v1.3</span>
            <a href="https://github.com/twitter/bootstrap/wiki">Changelog</a>
        </li>
        <li class="divider">·</li>
        <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
        <li class="divider">·</li>
        <li>
            <iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=handlino&amp;repo=compassapp&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
        </li>
        <li class="tweet-btn">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fireapp.handlino.com/" data-via="handlino" data-related="handlino" data-hashtags="fireapp">Tweet</a>
        </li>
        <li class="like-btn">
            <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=337772549608348" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
        </li>
    </ul>
    <hr class="soften">
</header>

<div class="marketing">
    <h1>Features</h1>
    <div class="row">
        <div class="span4">
            <h2>Sass + Compass</h2>
            <p>Tired of <a href="http://compass-style.org/reference/compass/css3/">writing vendor prefixes</a>, <a href="http://compass-style.org/help/tutorials/spriting/">making image sprites</a>? Love Sass/Compass but hate command line interface? Fire has Sass/Compass support.</p>
        </div>
        <div class="span4">
            <h2>LiveReload Support</h2>
            <p>Stop refresh your browsers! Fire has LiveReload support, so you don't have to press the refresh button.</p>
        </div>
        <div class="span4">
            <h2>Template languages</h2>
            <p>You can code in Haml/ERB/Markdown, and get HTML from our built-in web server. You can even write layouts and partials (like Rails app) just like a pro.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h2>Build Project</h2>
            <p>Once you have finished the project, you can export whole project into static files as deliverables.</p>
        </div>
        <div class="span4">
            <h2>Cross-Platforms</h2>
            <p>It is written in Java, and <strong>works in mac, linux and pc</strong>. You do not have to install anything to use it.</p>
        </div>
        <div class="span4">
            <h2>Open source license</h2>
            <p>Fire is <strong>GPL licensed</strong> because we love open source so much. You can build it yourself, and ask your friend buy it.</p>
            <a href="http://github.com/handlino/fireapp" class="btn btn-large btn-github">
                <strong>Source Code</strong>
                <small>Project on Github</small>
            </a> 
        </div>
    </div>
    <h1>Screenshots</h1>
</div>
