<div class="row">
    <div class="span6 pull-1">
        <img src="/images/logo/512.png" class="logo" alt="Fire.app logo" />
    </div>
    <div class="span6">
        <h1 class="brand">Fire.app <span class="label">v1.3</span></h1>
        <p class="slogan">HTML Prototyping Made Easy</p>
        <p><a href="#" class="btn btn-large btn-success"><i class="icon-shopping-cart icon-white"></i> <strong>Buy Now For $12</strong></a> with free 1.x updates</p>
        <p><strong>Fire.app works in mac, linux and pc.</strong></p>
        <div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="handlino" data-related="handlino" data-hashtags="fireapp">Tweet</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h2>Project based Management</h2>
        <img src="/images/icon-mac.png" alt="OS X">
        <img src="/images/icon-windows.png" alt="Windows">
        <img src="/images/icon-linux.png" alt="Linux">
        <p>Fire.app is written in Java, and works in Mac OSX, Windows and even Linux.</p>
    </div>
    <div class="span4">
        <h2>Cross-platform</h2>
        <img src="/images/icon-mac.png" alt="OS X">
        <img src="/images/icon-windows.png" alt="Windows">
        <img src="/images/icon-linux.png" alt="Linux">
        <p>Fire.app is written in Java, and works in Mac OSX, Windows and even Linux.</p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!--/span-->
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!--/span-->
</div><!--/row-->
