<section class="marketing">
    <h1>Features</h1>
    <div class="row">
        <div class="span4 sass">
            <h2 class="title">Sass + Compass</h2>
            <p>Love Sass/Compass but hate command line interface? Fire.app has first class Sass/Compass support just like our <a href="http://compass.handlino.com/">Compass.app</a>. No more <a href="http://compass-style.org/reference/compass/css3/">vendor CSS prefixes</a> and <a href="http://compass-style.org/help/tutorials/spriting/">hand-crafting sprite images</a>!</p>
        </div>
        <div class="span4">
            <h2 class="title">Template languages</h2>
            <p>Haml/Slim/ERB/Markdown formats are supported as the content templating engine. Layouts, partials, and helpers can all be written in different format that fits the best for faster design.</p>
        </div>
        <div class="span4 coffeescript">
            <h2 class="title">CoffeeScript</h2>
            <p>Javascript is great, CoffeeScript is <strong>awesome</strong>. Enjoy writing CoffeeScript? Fire.app compiles it, back to back.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4 refresh">
            <h2 class="title">Auto Refresh</h2>
            <p>Changes in your project are monitored and instantly trigger browsers to refresh the page automatically. It works for Chrome/Firefox/Opera/Safari as well as mobile browsers on iOS and Android devices.</p>
        </div>
        <div class="span4">
            <h2 class="title">Build Project</h2>
            <p>Projects can be build to produce static HTML/Javascript/CSS files with single click, while you can enjoy writing dynamic ERB/CoffeeScript/Sass languages that boost your performance.</p>
        </div>
        <div class="span4 cross-platform">
            <h2 class="title">Cross-Platform</h2>
            <p>Fire.app works on <strong>Mac, Linux, and Windows</strong> platform. The installation process is as easy as clicking and dragging.</p>
        </div>
    </div>
</section>
<section>
    <h1>Screenshots</h1>
    <ul class="screenshots">
        <li><a rel="group" href="images/screenshots/osx.jpg" title="OSX"><img src="images/screenshots/osx-thumb.jpg">OSX</a></li>
        <li><a rel="group" href="images/screenshots/windows.jpg" title="Windows"><img src="images/screenshots/windows-thumb.jpg">Windows</a></li>
        <li><a rel="group" href="images/screenshots/linux.jpg" title="Linux"><img src="images/screenshots/linux-thumb.jpg">Linux</a></li>
        <li><a rel="group" href="images/screenshots/project-list.jpg" title="Project list"><img src="images/screenshots/project-list-thumb.jpg">Project list</a></li>
        <li><a rel="group" href="images/screenshots/fireapp-loading.jpg" title="Fire.app Loading"><img src="images/screenshots/fireapp-loading-thumb.jpg">Fire.app Loading</a></li>
        <li><a rel="group" href="images/screenshots/growl-notify.jpg" title="OSX Growl notify"><img src="images/screenshots/growl-notify-thumb.jpg">OSX Growl notify</a></li>
    </ul>
</section>
<section>
    <h1>Goodies</h1>
    <h2 class="title">Wallpaper (designed by <a href="http://Twitter.com/mitchellpash">Mitchell Pash</a>)</h2>
    <div class="row">
        <div class="span4">
            <img src="images/wallpaper.jpg" width="400">
        </div>
        <div class="span8">
            <h3>Download:</h3>
            <p><a href="/assets/wallpaper-by-mitchellpash.zip">Download all as zip</a></p>
            <h3>Download specific resolutions:</h3>
            <p>
            <% ["800x600", "1024x768", "1280x1024", "1600x900", "1600x1200", "1920x1080", "1920x1200", "2560x1600", "3200x2000"].each do |res| %>
            &middot; <a href="/assets/wallpaper-by-mitchellpash/<%= res %>.jpg"><%= res %></a>
            <% end %>

            </p>
        </div>
    </div>
</section>
