<h1>使用 CoffeeScript</h1>

<p>透過 Fire.app 使用 CoffeeScript 時，需滿足以下條件：</p>

<ol class="qa">
    <li>在專案資料夾中必須有 <code>coffeescripts/</code> 資料夾。</li>
    <li>在 <code>coffeescripts/</code> 資料夾內建立 CoffeeScript 檔案並使用相應的副檔名 <code>.js.coffee</code> ，如 <code>app.js.coffee</code>，如此便可在該檔案中撰寫 CoffeeScript 。</li>
    <li><code>coffeescripts/</code> 中的檔案在存檔時會被 compile 至 javascripts 資料夾，使用時只需要在頁面檔案或 Layout 檔中插入輸出檔案的路徑如 <code>&lt;script src="/javascripts/app.js"&gt;&lt;/script&gt;</code> ，就能使用。</li>   
</ol>

<p>若想更改 CoffeeScript compile 後之檔案放置的資料夾名稱，請在 Fire.app Watch 該專案的狀況下點選 Fire.app 選單之 "Change Options"，變更 JavaScript Folder 的資料夾名稱後存檔，之後 Fire.app 便會將輸出的 js 檔案放置在指定名稱的資料夾中。</p>



