<h1>Options 設定</h1>

<p>當 Fire.app 正在 Watch 某個專案時，選單中會有 "Change Options" 的選項，點選後會跳出設定視窗如下：</p>

<img src="../../images/options.png" />

<p>設定視窗中分成五個部分：</p>   

<h2>General</h2>

<p>此部份用來設定各個預設資料夾的名稱，如果有預設的資料夾名稱不符所需，可以在此更改。</p>   

<h2>CoffeeScript</h2>

<p>勾選 "Bare" 時會變更 Compile 的方式，請參考 <a href="http://coffeescript.org/#usage">CoffeeScript Usage</a> 和 <a href="http://coffeescript.org/#lexical-scope">CoffeeScript - Lexical scope</a> 。</p>

<h2>LiveScript</h2>

<p>勾選 "Bare" 時會變更 Compile 的方式，請參考 <a href="http://livescript.net/#usage">LiveScript Usage</a> 。</p>

<h2>Build</h2>

<p>可以選擇是否要將 JavaScript Minify（使用 <a href="http://lisperator.net/uglifyjs/">UglifyJS</a> ）；亦可選擇在 Build Project 時是否出現 Report 視窗。</p>

<h2>Sass</h2>

<ul>
    <li>Output Style： 在選單中可以選擇 Sass 檔案輸出成 CSS 檔案時使用的格式。</li>
    <li>Relative Assets： 使用 <a href="http://compass-style.org/reference/compass/helpers/urls/#image-url">compass image-url()</a> 相關 helper 且需要以相對連結輸出 Compile 結果時勾選。</li>   
    <li>Line Comments： 選擇是否在輸出的 CSS 中加上標示來源 Sass 行數的註解。</li>   
    <li>Debug info： 選擇是否在輸出的 CSS 中加上供除錯用的訊息註解。</li>
</ul>
