<h1>Using CoffeeScript</h1>

<p>Fire.app has built-in CoffeeScript support. With Fire.app, you can use CoffeeScript easily:</p>

<ol class="qa">
    <li>Add the folder <code>coffeescripts/</code> in your project folder.</li>
    <li>Add a file in the folder <code>coffeescripts/</code> and name it with corresponding file extension <code>.js.coffee</code> , then you can start to write CoffeeScript. For example: <code>app.js.coffee</code>.</li>
    <li>Files in the <code>coffeescripts/</code> folder are compiled to javascript in the folder <code>javascripts/</code> automatically after saving. To load this external file in the HTML, just insert a javascript statement like <code>&lt;script src="/javascripts/app.js"&gt;&lt;/script&gt;</code>.</li>   
</ol>

<p>If you want to modify the default folder name, please click "Change Options" and change the folder name, then click "Save". </p>



