<h1>Why Fire.app？</h1>
<p>
Fire.app is a website prototyping tool. It solves many problems that happen with the traditional way using plain HTML, and the end-products are easy for others to revise and maintain. <br />
If you have experienced some of the follow situations, please try Fire.app.
</p>

<ol class="qa">
    <li>You use visualization tool to make website prototypes, but after spending a lot of time making and refining the prototype, you must use HTML and CSS to redo the final version. Isn't it inefficient? <br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Using Fire.app to make website prototypes, you will get HTML, CSS and Javascript which can be used to directly build real websites. There is no need to redo your work anymore.</span></li>
    <li>You use plain HTML to make website prototypes and must paste duplicated code for the common parts in every page. When the common parts need to be modified, you'll go crazy.<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Fire.app supports many template languages. You can use template languages with Fire.app's features to solve this problem.<br />
        <img src="../images/use-fireapp_01.png" />
        </span></li>
    <li>The placeholder texts used for making prototypes are perfect, but the layout often breaks when the real text is used. It's very boring to fix them repeatedly.<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Fire.app provides English, Traditional Chinese and Japanese lorem ipsum helpers. You can choose what you want and assign each helper a range of length. The content will automatically change after refreshing the browser every time. So it's easy to find this kind of problem early.</span></li>
    <li>You feel tired copying and pasting to make a certain size list, for example, on product catalogs pages.<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Using Fire.app, you can easily generate a list with specified length using only a few lines of code. And it's very convenient for adjusting and modifying.</span></li>
    <li>Your CSS is getting longer and difficult to maintain. Or maybe you have heard that Sass and Compass are great, but you don't know how to get started.<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Sass and Compass are good for writing maintainable css, and with Fire.app you can quickly beging using them without a lot of setting up.</span></li>
    <li>You want to try CoffeeScript, but don't know how to install it.<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Fire.app has built-in CoffeeScript support, so no installation is needed.</span></li>
    <li>You don't like to click refresh in the browser every time after modifying files.<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Fire.app has built-in LiveReload support. It will trigger browsers to refresh after you modify files.</span></li>
</ol>

<p class="sp-point">Do you want to give Fire.app a try? You may have some more questions:</p>

<ol class="qa">
    <li>Does Fire.app support Windows / Mac OS / Linux?<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Fire.app is a cross-platform tool. It works on Mac, Linux and PC. You can get every version with one purchase.</span></li>
    <li>Can I keep using my IDE with Fire.app?<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Of course. Fire.app doesn't relate to IDE, it only handles files. So you can use any IDE you want.</span></li>
    <li>If I use Fire.app, can I pass my end-products to someone who doesn't know Fire.app at all?<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        Yes, you can use Fire.app's "Build Project" feature. It will complie your project to plain HTML, CSS and JavaScript.</span></li>
    <li>Do I need any basic knowledge to use Fire.app?<br />
        <span class="point"><i class="lsf-icon arrow"></i>
        All you need to know is basic HTML and CSS. But the most important thing is a willing to try attitude. You'll pick it up quickly after reading a few documents and examples.</span></li>
</ol>

<p>If you already decided to use Fire.app, please check <a href="getting_started.html">Getting Started</a> or <a href="tutorial_1.html">Fire.app Feature Tutorial</a> :)</p>