<h1>Options</h1>

<p>When Fire.app is watching a project, the Fire.app menu will include "Change Options." Click it and you'll see the Change Options panel:</p>

<img src="../images/options.png" />

<p>The settings panel has five parts:</p>   

<h2>General</h2>

<p>Set each default folder's name here.</p>   

<h2>CoffeeScript</h2>

<p>Checking "Bare" changes the compile mode. Please check <a href="http://coffeescript.org/#usage">CoffeeScript Usage</a> and <a href="http://coffeescript.org/#lexical-scope">CoffeeScript - Lexical scope</a> for more information.</p>

<h2>LiveScript</h2>

<p>Checking "Bare" changes the compile mode. Please check <a href="http://livescript.net/#usage">LiveScript Usage</a> for more information.</p>

<h2>Build</h2>

<p>You can choose to minify the output javascript (using <a href="http://lisperator.net/uglifyjs/">UglifyJS</a>). The report dialog can also be disabled here.</p>

<h2>Sass</h2>

<ul>
    <li>Output Style： Select the output style for the compiled css.</li>
    <li>Relative Assets： Indicates whether the compass helper functions should generate relative urls from the generated css to assets, or absolute urls using the http path for that asset type.</li>   
    <li>Line Comments： Indicates whether line comments, that tell where the selectors were defined, should be added to compiled css. </li>   
    <li>Debug Info： Indicates whether line comments, with debug info, should be added to compiled css.</li>
</ul>
